.characters h3{
    text-align: center;
    padding: 10px;
}

.characters{
    justify-content: center;
}

.characters section{
    background: var(--caption-background);
    color: var(--caption-text);
    justify-content: center;
    max-width: 90%;
    margin: 20px ;
    border-radius: 20px;
}

.characters ul{
    width: 75%;
    margin: auto;
}

.characters li{
    list-style-type: none;
    padding-bottom: 10px;
}

.characters button{
    margin: auto;
    padding: 3px;
    background: var(--caption-text);
    color: var(--caption-background);
    border: transparent;
    margin: 10px 30px;
}

.imgCon img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center top;
}

.imgCon{
    position: relative;
    height: 270px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hidden{
    display: none;
}

.modal-content{
    background: var(--caption-text);
    position: relative;
}

.modal-content section{
    padding: 0;
    margin: 0;
    width: 100%;
    background: transparent;
    margin: auto;
    color: var(--caption-background);
    justify-content: center;

}

.modal-content img{
    width: 100%;
    left: 5%;
    align-self: center;
    margin: auto;
}

.modal h2{
    text-align: center;
    margin: 10px;
}

.close{
    position: absolute;
    right: 20px;
}

@media (min-width: 800px){
    .characters{
        display: flex;
        flex-wrap: wrap;
    }
    .characters section{
        min-width: 25%;
    }
    .modal-content{
        width:60%;
        margin: auto;
    }
}

@media (min-width: 1400px){
    .characters section{
        min-width: 15%;
    }
    .modal-content{
        width:40%;
        margin: auto;
    }
}


@media (max-width: 799px){
    .characters{
        display:block;
        justify-content: center;
    }
    .characters section{
        min-width: 350px;
        margin: auto;
        margin-top: 30px;
    }
}