nav ul {
    list-style: none;
    background: var(--caption-background);
    padding: 10px 25px;
    border-radius: 30px;
    width: 410px;
    margin: auto;
}

nav li {
    margin: 0 15px;
    font-weight: 500;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: var(--caption-text);
}

nav a:hover {
    text-decoration: underline;
}

#toggle-nav {
    text-align: left;
    color:var(--caption-background);
}

#main-nav .hide-small{
    display: none;
}

@media (max-width: 500px){
    #toggle-nav{
        display: block;
    }
}

@media (min-width: 768px){
    #toggle-nav{
        display: none;
    }
    #main-nav .hide-small{
        display: flex;
    }
}